@use "variables" as v;

%hover-black {
  &:hover {
    color: v.$color-black;
    cursor: pointer;
  }
}

%hover-light {
  &:hover {
    color: v.$color-white;
    cursor: pointer;
  }
}

%hover-black-icon {
  &:hover {
    fill: v.$color-black;
    cursor: pointer;
  }
}
